<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Spring Boot Thymeleaf Student Notes</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />


<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />

</head>
<body>

	<nav class="navbar navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="/web/today">Next-Assist</a>
				<a class="navbar-brand" href="/web/event/all">Événements</a>
				<a class="navbar-brand" href="/web/task/all">Tâches</a>
			</div>
		</div>
	</nav>

	<div class="container">

		<h1>Ajouter une tâche à effectuer :</h1>
		<form action="#" th:action="@{/web/task/add}" th:object="${task}" method="post">
			<p>Label : <input type="text" th:field="*{name}" /></p>
			<p>Deadline : <input type="datetime-local" th:field="*{deadline}" /></p>
			<!--<p>Durée : <input type="time" th:field="*{duration}" /></p>-->
			<p>Date de départ : <input type="datetime-local" th:field="*{start_date}" /></p>
			<p>Priorité : <input type="number" value="1" min="1" max="3" th:field="*{priority}" /></p>



			<p><input class="button button-primary" type="submit" value="Submit" /> <input class="button button-primary" type="reset" value="Reset" /></p>
		</form>

	</div>
	<!-- /.container -->

	<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

</body>
</html>
