<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Spring Boot Thymeleaf Student Notes</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
<!--<link rel="stylesheet" type="text/css" href="../css/main.css" th:href="@{/css/main.css}" />-->

</head>
<body>

	<nav class="navbar navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Next-Assist</a>
			</div>
		</div>
	</nav>

	<div class="container">

		<h1 th:text="${task.name}"></h1>
		<div class="row">
			<p class="col-sm-3"  th:text="'Deadline'" style="margin: 0; padding: 10px; font-weight :bold; font-size: 1.25em;"></p>
			<p class="col-sm-3"  th:text="'Durée'" style="margin: 0; padding: 10px; font-weight :bold; font-size: 1.25em;"></p>
			<p class="col-sm-3"  th:text="'Date de début'" style="margin: 0; padding: 10px; font-weight :bold; font-size: 1.25em;"></p>
			<p class="col-sm-3"  th:text="'Complétée'" style="margin: 0; padding: 10px; font-weight :bold; font-size: 1.25em;"></p>
		</div>

		<div class="row">
			<div th:switch="${task.priority}">
				<p class="col-sm-3"  th:text="${task.deadline}" style="margin: 0; padding: 10px; color: rgb(254,27,0); font-weight :bold; font-size: 1em;" th:case="1"></p>
				<p class="col-sm-3"  th:text="${task.deadline}" style="margin: 0; padding: 10px; color: rgb(255,127,0); font-weight :bold; font-size: 1em;" th:case="2"></p>
				<p class="col-sm-3"  th:text="${task.deadline}" style="margin: 0; padding: 10px; color: rgb(58,137,35); font-weight :bold; font-size: 1em;" th:case="3"></p>
			</div>
			<p class="col-sm-3"  th:text="${task.duration}" style="margin: 0; padding: 10px; font-weight :bold; font-size: 1em;"></p>
			<p class="col-sm-3"  th:text="${task.start_date}" style="margin: 0; padding: 10px; font-weight :bold; font-size: 1em;"></p>
			<p class="col-sm-3"  th:text="${task.complete}" style="margin: 0; padding: 10px; font-weight :bold; font-size: 1em;"></p>
		</div>

	</div>
	<!-- /.container -->

	<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

</body>
</html>
