<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Thymeleaf Student Notes</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />

</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/web/today">Next-Assist</a>
            <a class="navbar-brand" href="/web/event/all">Événéments</a>
            <a class="navbar-brand" href="/web/task/all">Tâches</a>
        </div>
    </div>
</nav>

<div class="container">

    <h1 th:text="'Liste des événements du jour :'"></h1>
    <div class="row" th:each="event : ${events}" th:unless="${#lists.isEmpty(events)}">
        <div>
            <a class="col-sm-9" th:text="${event.name}" style="margin: 0; padding: 10px; color: rgb(49,140,231); font-weight :bold; font-size: 1.25em; text-decoration: none;" th:href="'/web/event/'+${event.id}"></a>
        </div>
        <div>
            <p class="col-sm-3" th:text="${event.start_date}" style="margin: 0; padding: 10px; font-weight :bold; font-size: 1.25em;"></p>
        </div>
    </div>


    <h1 th:text="'Liste des tâches à finir  :'"></h1>
    <div class="row" th:each="task : ${tasks}" th:unless="${#lists.isEmpty(tasks)}" th:if="${task.complete == 0}">
        <div th:switch="${task.priority}">
            <a class="col-sm-9"  th:text="${task.name}" th:href="'/web/task/'+${task.id}" style="margin: 0; padding: 10px; color: rgb(254,27,0); font-weight :bold; font-size: 1.25em; text-decoration: none;" th:case="1"></a>

            <a class="col-sm-9"  th:text="${task.name}" th:href="'/web/task/'+${task.id}" style="margin: 0; padding: 10px; color: rgb(255,127,0); font-weight :bold; font-size: 1.25em; text-decoration: none;" th:case="2"></a>

            <a class="col-sm-9"  th:text="${task.name}" th:href="'/web/task/'+${task.id}" style="margin: 0; padding: 10px; color: rgb(58,137,35); font-weight :bold; font-size: 1.25em; text-decoration: none;" th:case="3"></a>
        </div>
        <div th:switch="${task.priority}">
            <p class="col-sm-3" th:text="${task.deadline}" style="margin: 0; padding: 10px; font-weight :bold; font-size: 1.25em;" th:case="1"></p>

            <p class="col-sm-3" th:text="${task.deadline}" style="margin: 0; padding: 10px; font-weight :bold; font-size: 1.25em;" th:case="2"></p>

            <p class="col-sm-3" th:text="${task.deadline}" style="margin: 0; padding: 10px; font-weight :bold; font-size: 1.25em;" th:case="3"></p>
        </div>

    </div>

</div>
<!-- /.container -->

<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

</body>
</html>